<h2>Produtos</h2>
<ul class="products">
  <li *ngFor="let product of products"
    [class.selected]="product === selectedProduct"
    (click)="onSelect(product)">
    <span class="badge">{{product.id}}</span> {{product.name}}
  </li>
</ul>

<div *ngIf="selectedProduct">
 
  <h2>{{selectedProduct.name | uppercase}} Detalhes</h2>
  <div><span>Id: </span>{{selectedProduct.id}}</div>
  <div>
    <label>Nome:
      <input [(ngModel)]="selectedProduct.name" placeholder="nome"/>
    </label>
  </div>
 
</div>